<!DOCTYPE html>
<html>
<head>
	<title>homepage</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link rel="stylesheet" type="text/css" href="css/Todolist.css">
</head>

<body>
<div id="box">
	<div id="footer">
		<h2>To do list</h2>
	</div>

	<div id="back">
		<a href="/"><img src="photo/arrow.png"></a>
	</div>

</div>
</body>
</html>